<div class="read-more">
   {{#next_post}}
   <div class="read-more-item read-more-item-left">
       <span class="read-more-item-dim">最近的文章</span>
       <h2 class="post-list__post-title post-title"><a href="{{url}}" title="link to {{{title}}}">{{{title}}}</a></h2>
       <p class="excerpt">{{excerpt characters="100"}}&hellip;</p>
       <div class="post-list__meta"><time datetime="{{date format="DD MMM YYYY"}}" class="post-list__meta--date date">{{date format="DD MMM YYYY"}}</time> &#8226; <span class="post-list__meta--tags tags">{{tags prefix="于 "}}</span><a class="btn-border-small" href={{url}}>继续阅读</a></div>
   </div>
   {{/next_post}}
   
   {{#prev_post}}
   <div class="read-more-item read-more-item-right">
       <span class="read-more-item-dim">更早的文章</span>
       <h2 class="post-list__post-title post-title"><a href="{{url}}" title="link to {{{title}}}">{{{title}}}</a></h2>
       <p class="excerpt">{{excerpt characters="100"}}&hellip;</p>
       <div class="post-list__meta"><time datetime="{{date format="DD MMM YYYY"}}" class="post-list__meta--date date">{{date format="DD MMM YYYY"}}</time> &#8226; <span class="post-list__meta--tags tags">{{tags prefix="于 "}}</span><a class="btn-border-small" href={{url}}>继续阅读</a></div>
   </div>
   {{/prev_post}}
</div>
